.reg-header {
    text-align: center;
}

.regulation-list {
    margin: 30px;
    li {
        list-style: decimal;
        padding: 8px;
        line-height: 2;
        font-size: 20px;
    }
}