.column {
    float: left;
    width: 33.3%;
    margin-bottom: 16px;
    padding: 0 8px;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.team-container {
    padding: 0 16px;
}

.team-container::after,
.row::after {
    content: "";
    clear: both;
    display: table;
}

.title {
    color: rgb(128, 128, 128);
    text-align: center;
}

.inst-name {
    text-align: center;
    font-size: 18px;
    line-height: 4;
}

.img-team {
    width: 100%;
    //	height: 400px;
}

.team-header {
    text-align: center;
    font-weight: 700;
    font-size: 30px;
}


/* Style the button that is used to open and close the collapsible content */

.button-collapsible {
    background-color: $additional-color;
    color: rgb(255, 255, 255);
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: center;
    outline: none;
    font-size: 15px;
    text-transform: uppercase;
}

.const-description {
    color: rgb(128, 128, 128);
    line-height: 2;
}

.button-collapsible:hover {
    background-color: rgb(95, 155, 2);
}


/* Style the collapsible content. Note: hidden by default */

.content {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: rgb(255, 255, 255);
}


/* Display the columns below each other instead of side by side on small screens */

@media screen and (max-width: 650px) {
    .column {
        width: 100%;
        display: block;
    }
    .inst-name {
        font-size: 14px;
    }
    .button-collapsible {
        font-size: 12px;
    }
    .tabs {
        width: 100%;
        display: block;
    }
}