/*GENERAL*/

$font-color: rgb(165, 4, 131);
$background-color:rgb(251, 250, 251);
$additional-color:rgb(105, 198, 37);
$border-color:rgb(209, 154, 195);
$main-text:black;
@mixin transition($value) {
    -webkit-transition: ($value);
    -moz-transition: ($value);
    -ms-transition: ($value);
    transition: ($value);
}

@mixin transform($value) {
    -webkit-transform: ($value);
    -moz-transform: ($value);
    -ms-transform: ($value);
    transform: ($value);
}

html,
header,
footer,
body,
nav,
div,
img,
a,
ul,
li,
h1,
h2 {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
    color: $font-color;
}

body {
    height: 100vh;
}

* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.container-fluid {
    background: $background-color;
}

main {
    padding: 1.5rem;
    line-height: 2.6rem;
}


/*MAIN PAGE*/

.toggle-menu {
    display: none;
}

.site-title img {
    max-width: 200px;
    display: inline-block;
    vertical-align: middle;
}

.nav-list {
    display: flex;
    flex-flow: row;
    padding-left: 20px;
    align-items: center;
    white-space: nowrap;
    > li {
        position: relative;
        &:not(.has-logo) > a {
            text-transform: uppercase;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: .75rem;
        }
    }
    ul {
        position: absolute;
        z-index: 1010;
        background-color: rgb(255, 255, 255, 0.5);
        line-height: 2rem;
        left: -9999px;
        a {
            font-weight: normal;
            display: block;
            padding: .5rem 1rem;
        }
    }
    > li:hover a + ul {
        left: 0;
        top: 100%;
    }
}

body > header > nav > div > div > div:nth-child(3) > ul,
body > header:nth-child(2) > div > nav > div > div:nth-child(3) > ul > li > a {
    font-weight: 700;
}

a {
    &:link,
    &:visited {
        transition: .2s color ease-in-out;
        text-transform: uppercase;
    }
    &:hover,
    &:active {
        color: $additional-color;
    }
}

.ul-center {
    justify-content: center;
}

.baseline {
    vertical-align: baseline;
    display: flex;
}

ul.nav-list {
    height: 100%;
}

.ul-icons li {
    margin: 0 1.5em;
}

.morph {
    @include transition(all 0.5s ease);
    &:hover {
        @include transform(rotate(360deg));
    }
}

.has-submenu {
    font-size: 18px;
    background-color: transparent;
}

.ul-center {
    justify-content: center;
}

.baseline {
    vertical-align: baseline;
    display: flex;
}

.ul-icons li {
    margin: 0 1.5em;
}

.mobile-display {
    display: none;
}

@media only screen and (max-width: 850px) {
    html {
        font-size: 14px;
    }
    body {
        width: 100%;
    }
    .has-logo {
        display: none;
    }
    .mobile-display {
        display: block;
        margin: 2rem auto;
        text-align: center;
    }
}

@media only screen and (max-width: 650px) {
    .iconsH {
        margin: 2%;
    }
    * {
        font-size: 14px;
    }
    .main-text {
        font-size: 12px;
    }
    .site-title img {
        width: 100px;
    }
    .toggle-menu {
        display: block;
        max-width: -webkit-min-content;
        max-width: -moz-min-content;
        max-width: min-content;
        margin: 1rem auto;
        background-color: #393939;
        text-align: center;
        color: #fff !important;
        padding: 1rem;
        border-radius: .25em;
        &:hover {
            background-color: $additional-color;
        }
    }
    .has-submenu {
        font-size: 12px;
    }
    div:nth-child(1) > ul {
        margin: 0 auto;
    }
    .iconsH {
        margin: 0 auto;
        float: left;
        width: 30px;
        height: 30px;
        text-decoration: none;
        border-radius: 50%;
        font-size: 15px;
        &:hover {
            opacity: 0.7;
        }
    }
    .nav-list {
        display: block;
        width: 100%;
        position: static;
        line-height: 1rem;
        z-index: 1012;
        left: 0;
        top: 0;
        background-color: #fff;
        max-height: 0;
        overflow: hidden;
    }
    .active {
        max-height: 100%;
        overflow: auto;
    }
    .nav-list ul {
        position: static;
        text-indent: 2rem;
        z-index: 1013;
    }
}


/* ICONS SOCIAL MEDIA*/

.iconsH {
    width: 50px;
    height: 50px;
    text-decoration: none;
    border-radius: 50%;
    font-size: 30px;
    &:hover {
        opacity: 0.7;
    }
}

.fa-facebook {
    box-shadow: 0px 3px 10px rgba(0, 0, 0, .25);
    background: rgb(59, 89, 152);
    color: white;
    padding: 5px 0;
}

.fa-instagram {
    text-align: center;
    color: #fff;
    line-height: 250px;
    vertical-align: middle;
    background: #d6249f;
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    box-shadow: 0px 3px 10px rgba(0, 0, 0, .25);
}

.fa-youtube {
    box-shadow: 0px 3px 10px rgba(0, 0, 0, .25);
    background: rgb(187, 0, 0);
    color: white;
}

.fitProfit {
    box-shadow: 0px 3px 10px rgba(0, 0, 0, .25);
}


/*SLIDER*/

section .carousel-inner .item >img {
    width: 100vw;
}

section .carousel-inner .carousel-caption {
    font-family: 'Coiny', cursive;
    padding-bottom: 1.5em;
    h2 {
        font-size: 50px;
        text-transform: uppercase;
    }
}

.bounceInRight {
    animation-delay: .7s;
}

.bounceInLeft {
    animation-delay: 1.2s;
}


/*MAIN TEXT WHY THEY STARTED*/

main {
    padding: 1.5rem;
    line-height: 2.6rem;
}

.main-text {
    text-align: center;
    margin-top: 30px;
    text-indent: 2.6rem
}


/*FOOTER*/

footer {
    background: $background-color;
    text-align: center;
    padding: 2em 0;
    .footer li {
        max-width: 50%;
        display: inline-block;
        margin: .5em 1em;
    }
}


/*CONTACT FORM SUBPAGE*/

@import'contact';

/*TEAM*/

@import'team';

/* PRICELIST*/

@import 'pricelist';

/*REGULATIONS*/

@import 'regulations';

/* TABS $ GALLERY*/

@import 'tabs-gallery';

/*SPECIAL OFFER*/

@import 'special';

/* SHEDULE*/

@import 'shedule';